<table class="team_list" border="0" cellpadding="4" cellspacing="1">
    <tr>
        <th>Гравець</th>
        <th>Клуб</th>
        <th>Дата народження</th>
        <th>Місце</th>
        <th>Ігор (голів)</th>
    </tr>
    <tr>
        <td><a href="/team/Ukraine/player/Pyatov">Андрей Пятов</a></td>
        <td>Шахтёр (Донецк)</td>
        <td>28 июня 1984 (31 год)</td>
        <td>Вратар</td>
        <td>61 (−43)</td>
    </tr>
    <tr>
        <td><a href="/team/Ukraine/player/Tymoschuk">Анатолий Тимощук</a></td>
        <td>Кайрат (Алматы)</td>
        <td>30 марта 1979 (36 лет)</td>
        <td>Напівзахисник</td>
        <td>141 (4)</td>
    </tr>
    <tr>
        <td><a href="/team/Ukraine/player/Gusev">Олег Гусев</a></td>
        <td>Динамо (Киев)</td>
        <td>25 апреля 1983 (32 года)</td>
        <td>Напівзахисник</td>
        <td>97 (13)</td>
    </tr>
    <tr>
        <td><a href="/team/Ukraine/player/Yarmolenko">Андрей Ярмоленко</a></td>
        <td>Динамо (Киев)</td>
        <td>23 октября 1989 (26 лет)</td>
        <td>Напівзахисник</td>
        <td>55 (22)</td>
    </tr>
    <tr>
        <td><a href="/team/Ukraine/player/Konoplyanka">Евгений Коноплянка</a></td>
        <td>Севилья</td>
        <td>29 сентября 1989 (26 лет)</td>
        <td>Напівзахисник</td>
        <td>51 (11)</td>
    </tr>
    <tr>
        <td><a href="/team/Ukraine/player/Selezneov">Евгений Селезнёв</a></td>
        <td>Днепр (Днепропетровск)</td>
        <td>20 июля 1985 (30 лет)</td>
        <td>Нападник</td>
        <td>48 (11)</td>
    </tr>
</table>
